CATEGORIES
<div class="ui-grid-a">
     <div role="main" class="ui-content">
    <div class="ui-grid-a">
      <div class="ui-block-a"><strong>Art</strong></div>
      <div class="ui-block-a"><strong>Antiques</strong></div>
        <div class="ui-block-a"><strong>Books</strong></div>
    </div><!-- /grid-a -->
  </div>
</div>                 