Help Tips
<div id="mebar" style="position:absolute;top:0px;left:1000px; width:280px">
    <a href="#" onclick="javascript:if (document.getElementById('signupdiv').style.display!='block'){document.getElementById('signupdiv').style.display='block';document.getElementById('forgot').style.display='block';}else{document.getElementById('signupdiv').style.display='none';document.getElementById('forgot').style.display='none';}"><span  class="textheadercontent">Login</span></a> &nbsp; | &nbsp;
    <a href="http://www.SellToMi.com/sitemap.aspx"><span  class="textheadercontent">Site Map</span></a> &nbsp; | &nbsp;
    <a href="http://www.SellToMi.com/iphoneSellToMi.aspx"><span  class="textheadercontent">Switch to Mobile version</span></a>
    <div class="addthis_toolbox addthis_default_style">
<a class="addthis_button_facebook"></a>
<a class="addthis_button_email"></a>
<a class="addthis_button_favorites"></a>
<a class="addthis_button_print"></a>
<span class="addthis_separator">|</span>
<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=webtransit" class="addthis_button_expanded"><span  class="textheadercontent">More</span></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=webtransit#async=1"></script>
<!-- AddThis Button END -->

    
	<div class="clear-left" style="position:absolute;left:0px;top:200px;display:block;">
        <div class="clear-left" style="position:relative;left:0px;top:0px"><a href="http://facebook.com/SellToMi" target="_blank"><img alt="facebook" height="80px" src="images/fb.png" border="0" /></a><a href="http://twitter.com/SellToMi" target="_blank"><img alt="twitter" height="80px" src="images/twitterbutton.png" border="0" /></a>
        </div>
  
        

	</div>
    
	  </div>

     
           <div id="explain" style="position:absolute;left:150px;top:280px;display:none;">
               <table style="width:960px;height:600px; background-image:url('images/background.png')"><tr><td><div style="position:absolute;top:0px;right:0px;"><img alt="Close"  src="images/close.png" onclick="javascript:document.getElementById('explain').style.display='none';" /></div>
 </td></tr></table>
           </div>
       
              
 <div id="mebar2"  style="position:absolute;top:300px;left:930px;width:350px; height:1000px; display:block;vertical-align:top;">

    <div class="SmallBoxHead" id="manywaysdiv" style="background-color:#e0efff; vertical-align:top">
        <h2>Many Ways to Sell and Buy! </h2>
        <div style="margin-left:30px">
            <br />Created by Michelle Sollicito 
            <br /><img src="images/me.jpg" alt="Michelle Sollicito" border="0" width="100px" />
            <br /><b><span style="color:red; font-size:large"><a target="facebookatl" href="https://www.facebook.com/groups/SellToMiatl">Post an ad via our facebook groups</a></span> 
                <br />An easier way to shop and sell - let Facebook send you ads you are interested in.. also sell by posting in any of these groups!
                <br />
<a target="antiques" href="https://www.facebook.com/groups/antiquesatl/"> ATLAntiques</a>
                <br />
<a target="art" href="https://www.facebook.com/groups/artatl/"> ATLArt</a>
                <br />
<a target="babies" href="https://www.facebook.com/groups/babiesandkidsatl/"> ATLBabiesandKids</a>
                <br />
<a target="books" href="https://www.facebook.com/groups/booksatl/"> ATLBooks</a>
                <br />
<a target="cars" href="https://www.facebook.com/groups/carsatl/"> ATLCars</a>
                <br />
<a target="cellphones" href="https://www.facebook.com/groups/cellphonesatl/"> ATLCellphones</a>
                <br />
<a target="community" href="https://www.facebook.com/groups/atlcommunity/"> ATLCommunity</a>
                <br />
<a target="houses" href="https://www.facebook.com/groups/housesatl/"> ATLHouses</a>
                <br />
<a target="jobs" href="https://www.facebook.com/groups/atlcareers/"> ATLCareers</a>
                <br />
            <br />
            <br /> <b>Newbie?</b>
            <br /><br />See our <a href="docs/SellToMi Newsletter.docx">New User Guide</a> for tips on how to use SellToMi.com
            <br /><br />
        <br />
        <br /><b>To Sell..</b>
        <br /><br />Click here to send us an Ad right NOW!  MAKE SURE YOU PUT SellToMi at the start of the subject line before the title of your ad! Very important!  Otherwise your ad will NOT POST!
        <br /><br />
         <a href="mailto:ads@SellToMi.com?Subject=SellToMi: Ad Title Goes Here (City, State goes here)&body=Put your ad here including any photos or videos you wish to attach or include.  It will appear in the 'Other' category on the website">ads@SellToMi.com</a> &nbsp;|&nbsp; <a href="mailto:antiques@SellToMi.com?Subject=SellToMi: Ad Title Goes Here (City, State goes here)&body=Put your Antiques ad here including any photos or videos you wish to attach or include.  It will appear in the 'Antiques' category on the website">antiques@SellToMi.com</a> &nbsp;|&nbsp; <a href="mailto:art@SellToMi.com?Subject=SellToMi: Ad Title Goes Here (City, State goes here)&body=Put your Art ad here including any photos or videos you wish to attach or include">art@SellToMi.com</a>&nbsp;|&nbsp; <a href="mailto:babieskids@SellToMi.com?Subject=SellToMi: Ad Title Goes Here (City, State goes here)&body=Put your Babies/Kids ad here including any photos or videos you wish to attach or include.  It will appear in the Babies/Kids category on the website">babieskids@SellToMi.com</a>  &nbsp;|&nbsp; <a href="mailto:books@SellToMi.com?Subject=SellToMi: Ad Title Goes Here (City, State goes here)&body=Put your Books ad here including any photos or videos you wish to attach or include.  It will appear in the Books category on the website">books@SellToMi.com</a> etc.  
        <br /><br />It's THAT simple!  To see other ways to sell <a href="HowToSell.aspx">click here</a>
        <br /><br /><b>To Buy..</b>
        <br /><br />Simply click on any ad you see to the left.  OR<br />
        <br />Browse the ads by category (left hand menu). OR <br />
        <br />Type a keyword into the search bar to find ads.  OR<br />
        <br />Select a category to search by.  OR<br />
        <br />Go local by selecting your state and city to reduce ads to local ads.<br />
            
        <br />Once you find an ad you like, contact the seller and (optionally) pay by paypal immediately!<br/><br/>
            </div>
        <h2>Wanna Sell Used Stuff and Buy Someone Else's?</h2>&nbsp;
        <div style="margin-left:30px">
        <script type='text/javascript'>
            function rC(nam) { var tC = document.cookie.split('; '); for (var i = tC.length - 1; i >= 0; i--) { var x = tC[i].split('='); if (nam == x[0]) return unescape(x[1]); } return '~'; } function wC(nam, val) { document.cookie = nam + '=' + escape(val); } function lC(nam, pg) { var val = rC(nam); if (val.indexOf('~' + pg + '~') != -1) return false; val += pg + '~'; wC(nam, val); return true; } function firstTime(cN) { return lC('pWrD4jBo', cN); } function thisPage() { var page = location.href.substring(location.href.lastIndexOf('\/') + 1); pos = page.indexOf('.'); if (pos > -1) { page = page.substr(0, pos); } return page; }

            // example code to call it - you may modify this as required
            function start() {

                if (firstTime("frontpagead") == true) {

                    //document.getElementById('explain').style.display = 'block';
                }
                else {

                }
                if (1 == 1) {
                    // this code would change it so that it only runs for first visit  if (firstTime("frontpagead"))
                    //on some pages show one ad, and on others show another ad
                    var randomnumber = Math.floor(Math.random() * 11);

                    if (randomnumber < 4) {//selloldstuff
                        document.getElementById("iframe1").src = 'ads/selloldstuffimage.htm';
                    }
                    else {
                        if (randomnumber < 6) {//shoppingmadeeasy
                            document.getElementById("iframe1").src = 'ads/shoppingmadeeasyimage.htm';
                        }
                        else {
                            if (randomnumber < 8) {//dawg
                                document.getElementById("iframe1").src = 'ads/dawgimage.htm';
                            }
                                //if (randomnumber < 9) {//sell online easily
                                //    document.getElementById("iframe1").src = 'ads/sellingimage.htm';
                                //}
                            else {//Selloldstuff
                                document.getElementById("iframe1").src = 'ads/selloldstuffimage.htm';
                            }
                        }
                    }
                }
                // other code to run every time once page is loaded goes here
            }
            onload = start;
              </script>    

<iframe src="ads/selloldstuffimage.htm" id='iframe1'  width='300px' height='300px' frameborder=0 scrolling='no'></iframe>
     <p><a href="ads.aspx">See more of our ads</a>   </div>
     <div class="SmallBoxHead" style="background-color:#e0efff"><h2>Download our app</h2>
         <div style="margin-left:30px">
<table><tr><td>Use the QR code below on your mobile device! </td></tr>
<tr><td><img height="100px" src="images/qrcode.11232635.png" alt="qr code for mobile app" border="0"/></td></tr>
    <tr> <td> Email us an ad by scanning this QR Code!</td></tr>
    <tr> <td><img height="100px" src="images/qrcodeemailsmall.png" alt="email us qr code" border="0" /></td></tr></table>
             <br /><br />..or <a target="iphoneapp" href="http://www.SellToMi.com/iphoneSellToMi.aspx">Click here </a> to download our new SellToMi MOBILE App

</div></div>
   

     <div class="SmallBoxHead" style="background-color:#e0efff;"><br /><br /><h2>Search</h2>
         <div style="margin-left:30px">
         <br /><br />What are you looking for? 
         <br /><br />Not sure?  Browse the Categories or Tags on the left hand side.
         <br /><br />Know the type of item you are looking for?  Select a Category and then browse items.
         <br /><br />Know Specifics?  Search by typing a unique keyword/phrase into the search box.
         <br /><br />Want local ads?  Select a State and a City.
             <br /><br />
         </div>

</div>
       
    <div class="SmallBoxHead" style="background-color:#e0efff;display:none">
        <br /><br /><h2>Send us an Ad</h2>It's really easy to create an ad - simply send an email
to:
        <div style="margin-left:30px">
        <br /><br />
          <a href="mailto:ads@SellToMi.com?Subject=SellToMi: Ad Title Goes Here (City, State goes here)&body=Put your ad here including any photos or videos you wish to attach or include.  It will appear in the 'Other' category on the website">ads@SellToMi.com</a> &nbsp;|&nbsp; <a href="mailto:antiques@SellToMi.com?Subject=SellToMi: Ad Title Goes Here (City, State goes here)&body=Put your Antiques ad here including any photos or videos you wish to attach or include.  It will appear in the 'Antiques' category on the website">antiques@SellToMi.com</a> &nbsp;|&nbsp; <a href="mailto:art@SellToMi.com?Subject=SellToMi: Ad Title Goes Here (City, State goes here)&body=Put your Art ad here including any photos or videos you wish to attach or include">art@SellToMi.com</a>&nbsp;|&nbsp; <a href="mailto:babieskids@SellToMi.com?Subject=SellToMi: Ad Title Goes Here (City, State goes here)&body=Put your Babies/Kids ad here including any photos or videos you wish to attach or include.  It will appear in the Babies/Kids category on the website">babieskids@SellToMi.com</a>  &nbsp;|&nbsp; <a href="mailto:books@SellToMi.com?Subject=SellToMi: Ad Title Goes Here (City, State goes here)&body=Put your Books ad here including any photos or videos you wish to attach or include.  It will appear in the Books category on the website">books@SellToMi.com</a> etc.  
        
        <br /><br />If you need help posting ads follow these instructions: <br /><br/><a target="postad" href="http://SellToMi.spruz.com/pt/How-do-I-post-an-ad.6-1-2012/blog.htm">Instructions</a> <br/> <br/>
            </div>
</div>
     
</div> 
        
           
        
    
  
      </div>
                       