
<div data-role="navbar" data-iconpos="top"  data-theme="a">
    <ul>
            <li><a href="@Url.Action("Index","Home")" data-icon="home">Home</a></li>
            <li><a href="@Url.Action("About","Home")" data-icon="info">About</a></li>
            <li><a href="@Url.Action("Categories","Home")" data-icon="grid">Categories</a></li>
            <li><a href="@Url.Action("Search", "Home")" data-icon="search">Search</a></li>
     </ul>
</div>                 